@import 'assets/scss/abstracts/_variables.scss';

.appearFromDark {
  &:after {
    opacity: 1;
    animation: 1s appear forwards;
  }
}

@keyframes appear {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }
  100% {
    visibility: hidden;
  }
}

@media #{$mq-min-pc} {
  #hero,
  #skills,
  #contact,
  #works {
    &:after {
      width: 100vw;
      display: block;
      content: ' ';
      height: 100vh;
      top: 0;
      left: 0;
      position: absolute;
      background: black;
      opacity: 1;
      z-index: 10;
    }
  }
}
