@import 'assets/scss/abstracts/_variables.scss';

.appearFromDark {
  &:after {
    opacity: 1;
    animation: 1s appear forwards;
  }
}

@keyframes appear {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }
  100% {
    visibility: hidden;
  }
}

@media #{$mq-min-pc} {
  #hero,
  #skills,
  #contact,
  #works {
    &:after {
      width: 100vw;
      display: block;
      content: ' ';
      height: 100vh;
      top: 0;
      left: 0;
      position: absolute;
      background: black;
      opacity: 1;
      z-index: 10;
    }
  }
}

// PROJECT ANIMATIONS

@media #{$mq-min-tablet} {
  .octopus-animate {
    animation: octopus 2s forwards;
  }
  .lola-animate {
    animation: lola 2s forwards;
  }

  .aubonmarche-animate {
    animation: aubonmarche 2s forwards;
  }

  .octopus-animate-reverse {
    animation: octopusReverse 2s forwards;
  }
  .lola-animate-reverse {
    animation: lolaReverse 2s forwards;
  }

  .aubonmarche-animate-reverse {
    animation: aubonmarcheReverse 2s forwards;
  }
}

@mixin animation-mixin($name, $left, $bottom, $height) {
  @keyframes #{$name} {
    0% {
      z-index: 0;
    }

    20% {
      left: $left;
      bottom: $bottom;

      height: $height;
    }
    100% {
      left: 12vw;
      bottom: 5vh;
      z-index: 0;
      height: 80vh;
    }
  }
}

@mixin reverse-animation-mixin($name, $left, $bottom, $height) {
  @keyframes #{$name} {
    from {
      left: 12vw;
      bottom: 5vh;
      z-index: 0;
      height: 80vh;
    }
    to {
      left: $left;
      bottom: $bottom;
      height: $height;
    }
  }
}

@include animation-mixin(octopus, 75vw, 5vh, 70vh);
@include animation-mixin(lola, 60vw, 30vh, 40vh);
@include animation-mixin(aubonmarche, 12vw, 5vh, 70vh);

@include reverse-animation-mixin(octopusReverse, 75vw, 5vh, 70vh);
@include reverse-animation-mixin(lolaReverse, 60vw, 30vh, 40vh);
@include reverse-animation-mixin(aubonmarcheReverse, 12vw, 5vh, 70vh);
