@import 'assets/scss/abstracts/_variables.scss';

.appearFromDark {
  &:after {
    opacity: 1;
    animation: 1s appear forwards;
  }
}

@keyframes appear {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }
  100% {
    visibility: hidden;
  }
}

@media #{$mq-min-pc} {
  #hero,
  #skills,
  #contact,
  #works {
    &:after {
      width: 100vw;
      display: block;
      content: ' ';
      height: 100vh;
      top: 0;
      left: 0;
      position: absolute;
      background: black;
      opacity: 1;
      z-index: 10;
    }
  }
}

// PROJECT ANIMATIONS

@media #{$mq-min-tablet} {
  .octopus-animate {
    animation: octopusTablet 2s forwards;
    @media #{$mq-min-pc} {
      animation: octopus 2s forwards;
    }
  }
  .lola-animate {
    animation: lolaTablet 2s forwards;
    @media #{$mq-min-pc} {
      animation: lola 2s forwards;
    }
  }

  .aubonmarche-animate {
    animation: aubonmarcheTablet 2s forwards;
    @media #{$mq-min-pc} {
      animation: aubonmarche 2s forwards;
    }
  }

  .octopus-animate-reverse {
    animation: octopusTabletReverse 2s forwards;
    @media #{$mq-min-pc} {
      animation: octopusReverse 2s forwards;
    }
  }
  .lola-animate-reverse {
    animation: lolaTabletReverse 2s forwards;
    @media #{$mq-min-pc} {
      animation: lolaReverse 2s forwards;
    }
  }

  .aubonmarche-animate-reverse {
    animation: aubonmarcheTabletReverse 2s forwards;
    @media #{$mq-min-pc} {
      animation: aubonmarcheReverse 2s forwards;
    }
  }
}

@mixin animation-mixin($name, $left, $bottom, $tabletLeft, $tabletBottom) {
  $reverse: $name + 'Reverse';
  $tablet: $name + 'Tablet';
  $tabletReverse: $name + 'TabletReverse';
  @keyframes #{$name} {
    0% {
      z-index: 0;
    }

    20% {
      left: $left;
      bottom: $bottom;

      height: 70vh;
    }
    100% {
      left: 12vw;
      bottom: 5vh;
      z-index: 0;
      height: 80vh;
    }
  }

  @keyframes #{$reverse} {
    from {
      left: 12vw;
      bottom: 5vh;
      z-index: 0;
      height: 80vh;
    }
    to {
      left: $left;
      bottom: $bottom;
      height: 70vh;
    }
  }

  @keyframes #{$tablet} {
    0% {
      z-index: 0;
    }

    20% {
      left: $tabletLeft;
      bottom: $tabletBottom;

      width: 30vw;
    }
    100% {
      left: 2vw;
      bottom: 10vh;
      z-index: 0;
      width: 40vw;
    }
  }

  @keyframes #{$tabletReverse} {
    from {
      left: 12vw;
      bottom: 5vh;
      z-index: 0;
      width: 40vw;
    }
    to {
      left: $tabletLeft;
      bottom: $tabletBottom;
      width: 30vw;
    }
  }
}

@include animation-mixin(octopus, 75vw, 5vh, 65vw, 10vh);
@include animation-mixin(lola, 65vw, 15vh, 50vw, 20vh);
@include animation-mixin(aubonmarche, 12vw, 5vh, 5vw, 10vh);
