// COLORS
$primary-color: #022639;
$secondary-color: #023047;
$stand-out-color: #ffb703;
$white-color: #fff;
$dark-grey: #333333;

// Breakpoints

$bp-mobile: 22em; // 360px
$bp-tablet: 48em; // 768px
$bp-pc: 63em; // 1024px
$bp-desktop: 85.375em; // 1366px
$bp-xx: 120em; // 1920px
$bp-xxx: 160em; // 2560px

// phone

@function widthOffset($size) {
  $width: calc(#{$size} - 0.2px);
  @return '(max-width: #{$width})';
}

$mq-max-mobile: widthOffset($bp-mobile);
$mq-min-mobile: '(min-width: #{$bp-mobile})';

//tablet

$mq-max-tablet: widthOffset($bp-tablet);
$mq-min-tablet: '(min-width: #{$bp-tablet})';

// pc

$mq-max-pc: widthOffset($bp-pc);
$mq-min-pc: '(min-width: #{$bp-pc})';

//desktop

$mq-max-desktop: widthOffset($bp-desktop);
$mq-min-desktop: '(min-width: #{$bp-desktop})';

// xx

$mq-max-xx: widthOffset($bp-xx);
$mq-min-xx: '(min-width: #{$bp-xx})';

// xxx

$mq-max-xxx: widthOffset($bp-xxx);
$mq-min-xxx: '(min-width: #{$bp-xxx})';

$startProjectHeight: 40vh;

$startProjectHeightTablet: 35vh;

$anim-duration: 0.75s;
$size-anim-duration: 0.5s;
$description-delay: $anim-duration + $size-anim-duration;

$lola: (
  'left': 50vw,
  'bottom': 30vh,
  'left-pc': 50vw,
  'bottom-pc': 30vh,
);

$cpas: (
  'left': 50vw,
  'bottom': 30vh,
  'left-pc': 25vw,
  'bottom-pc': 45vh,
);

$octopus: (
  'left': 65vw,
  'bottom': 20vh,
  'left-pc': 65vw,
  'bottom-pc': 5vh,
);

$aubonmarche: (
  'left': 2vw,
  'bottom': 20vh,
  'left-pc': 12vw,
  'bottom-pc': 10vh,
);
