@import 'assets/scss/abstracts/_variables.scss';

section.background {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  &:after,
  &:before {
    background-size: cover;
    background-position: bottom right;

    @media #{$mq-min-tablet} {
      background-position: bottom 35% right;
    }
    @media #{$mq-min-pc} {
      background-position: top 50% left;
    }
  }
}
