@import 'assets/scss/abstracts/_variables.scss';

.works {
  width: 100vw;
  position: relative;
  @media #{$mq-min-tablet} {
    overflow-y: hidden;
    height: 100vh;
  }

  h3 {
    color: white;

    font-size: 1.3rem;
    margin: 20px;
    padding: 10px;

    &.hidden {
      @media #{$mq-min-tablet} {
        display: none;
      }
    }

    // @media #{$mq-min-pc} {
    //   width: 20vw;
    // }
  }
  article {
    .description {
      position: absolute;
      right: -10000px;
      opacity: 0;
      transition: 2s opacity 1s;
      border-radius: 10px;
      h4 {
        display: inline-block;
        margin-bottom: 0;
      }
      button {
        color: white;
        float: right;
        background: transparent;
        border: none;
        display: flex;
        align-items: center;

        img {
          width: 30px;
          height: 30px;
          fill: white;
        }
      }
      &.visible {
        padding: 20px;
        display: block;
        opacity: 1;

        right: 50px;
        top: 25vh;
        color: white;
        background: $secondary-color;
        width: 30vw;
        p {
          font-size: 1rem;
        }
        a {
          float: right;
          color: $primary-color;
          padding: 5px 10px;
          border-radius: 5px;
          background: white;
          text-decoration: none;
        }
      }
    }
  }
  figure {
    width: 70%;
    margin: 20px auto;
    @media #{$mq-min-tablet} {
      position: absolute;
      z-index: 1;
    }

    &:not(.background) {
      transition: 1s all;
      cursor: pointer;
      img {
        border-radius: 10px;
      }
      box-shadow: -5px -5x 10px black;

      &.unfocused-mode {
        &:hover {
          transform: scale(1.1);
          z-index: 100000;
          perspective-origin: 10px 10px;
        }
      }

      &.discard {
        transform: perspective(300px) translate3D(-100%, -100%, -2000px);
        opacity: 0;
      }
    }

    img {
      width: 100%;
      @media #{$mq-min-tablet} {
        width: auto;
        height: 100%;
      }
    }

    &.lola {
      @media #{$mq-min-pc} {
        height: 40vh;
        left: 60vw;
        bottom: 40vh;
      }
    }
    &.octopus {
      @media #{$mq-min-pc} {
        height: 70vh;
        left: 75vw;
        bottom: 5vh;

        overflow: hidden;
      }
    }
    &.aubonmarche {
      @media #{$mq-min-pc} {
        left: 12vw;
        bottom: 5vh;
        height: 70vh;
      }
    }
    &.background {
      display: none;
      z-index: 2;
      bottom: 0;

      @media #{$mq-min-tablet} {
        display: flex;
        width: 40vw;
        bottom: -50vh;
        left: 50%;
        img {
          width: 100%;
        }
        transform: translateX(-50%);
      }
    }
  }
}
