@import 'assets/scss/abstracts/_variables.scss';

.cleoKid {
  min-height: 100vh;
  min-width: 100vw;
  position: absolute !important;
  bottom: 0%;
  left: 0;
  img {
    width: 100%;
  }

  @media #{$mq-min-tablet} {
    bottom: 35%;
    transform: translateY(35%);
  }
  @media #{$mq-min-pc} {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
}
