@import 'assets/scss/abstracts/_variables.scss';

.cleoKid {
  min-height: 100vh;
  min-width: 100vw;
  position: absolute !important;
  bottom: 0;
  right: 0;
  img {
    width: 100%;
  }

  @media #{$mq-min-tablet} {
    min-height: 100vh;
    min-width: 100vw;

    bottom: 35%;
    transform: translateY(35%);
  }
  @media #{$mq-min-pc} {
    width: auto;
    height: 100vh;
  }
}
