@import 'assets/scss/abstracts/_variables.scss';
.nav {
  position: fixed;
  width: 0;
  z-index: 100000;
  right: 0;
  transition: width 0.5s;

  top: 0;

  display: flex;

  // to correct for larger media
  flex-direction: column;
  align-items: flex-end;

  &.open-nav {
    background: $primary-color;
    width: 50vw;
    @media #{$mq-min-tablet} {
      width: 30vw;
    }
    @media #{$mq-min-pc} {
      width: 100vw;
    }
    box-shadow: -2px -2px 5px darken($primary-color, 5%);
    @media #{$mq-min-pc} {
      background: none;
      box-shadow: none;
    }
  }

  @media #{$mq-min-pc} {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
  }
  padding-top: 20px;

  @media #{$mq-min-pc} {
    height: 75px;
  }
  font-family: 'Oswald';

  .menu-checkbox {
    display: none;
  }

  .menu-toggle {
    height: 75px;
    position: relative;
    display: flex;
    justify-content: flex-start;

    @media #{$mq-min-pc} {
      height: 75px;
      order: 2;
    }

    margin-right: 20px;
    border: 0;
    padding: 0;
    background: transparent;
    width: 80px;
    font-size: img {
      height: 20px;
    }
    img {
      width: 100%;
      height: 20px;
    }
    &:active {
      outline: 0;
    }
    &:focus {
      outline: none;
    }
    cursor: pointer;
  }
}

.menu-checkbox:checked + .menu {
  display: flex;
  @media #{$mq-min-pc} {
    display: block;
  }
}

.first-line,
.second-line,
.third-line {
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.first-line {
  top: 0px;
  transition: opacity 0.125s 0.1s ease;
}
.second-line {
  top: 20px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.third-line {
  top: 40px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.menu-toggle.is-active {
  .first-line {
    opacity: 0;
    transition-delay: 0s;
  }
  .second-line {
    transform: translate3d(0, 10px, 0) rotate(140deg);
    // transition-delay: 0.075s;
  }
  .third-line {
    transform: translate3d(0, -20px, 0) rotate(-300deg);
    // transition-delay: 0.075s;
  }
}

.menu {
  opacity: 0;
  transition: none;

  @media #{$mq-min-pc} {
    transform: translateX(1000px);
    transition: opacity 0.275s 0.22s ease-in, transform 0.275s ease-out, height 0.275s 0.22s ease-in;
  }

  a {
    color: white !important;
    &.active {
      color: lighten($stand-out-color, 5%) !important;
    }
    text-decoration: none;
    cursor: pointer;
    margin-right: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
    @media #{$mq-min-pc} {
      margin-top: 0;
    }
  }

  &.open-menu {
    opacity: 1;
    transition: opacity 0.5s 0.2s ease;
    position: relative;
    z-index: 50;
    display: flex;
    flex-direction: column;

    height: 100vh;

    margin-top: 30px;

    a {
      display: inline-block;
    }

    @media #{$mq-min-pc} {
      transform: translateX(2px);
      height: 36px;
      margin-top: 0;
      display: block;
    }
  }
}
