@import 'assets/scss/abstracts/_variables.scss';

.individual-skill {
  color: white;
  width: 80px;
  @media #{$mq-min-tablet} {
    width: 75px;
  }

  padding: 5px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  img {
    width: 100%;
  }
  figcaption {
    text-align: center;
    width: 100%;
  }
}
