@import 'assets/scss/abstracts/_variables.scss';

.skills {
  // full height of background calculated according to width
  // height: calc(100vw * 2.051282051);
  height: 100vh;
  width: 100%;

  @media #{$mq-min-pc} {
    height: 100vh;
  }

  section.background {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    &:after,
    &:before {
      background-size: cover;
      background-position: bottom right;

      @media #{$mq-min-tablet} {
        background-position: bottom 35% right;
      }
      @media #{$mq-min-pc} {
        background-position: top 50% left;
      }
    }
    .cleoKid {
      min-height: 100vh;
      min-width: 100vw;
      position: absolute !important;
      bottom: 0;
      right: 0;
      img {
        width: 100%;
      }

      @media #{$mq-min-tablet} {
        min-height: 100vh;
        min-width: 100vw;

        bottom: 35%;
        transform: translateY(35%);
      }
      @media #{$mq-min-pc} {
        width: auto;
        height: 100vh;
      }
    }
    p {
      color: white;
      strong {
        color: $stand-out-color;
      }
      background: $secondary-color;
      width: 50%;

      @media #{$mq-min-pc} {
        width: 30%;
      }
      margin-left: 10px;
      position: absolute;
      top: 20px;
      left: 20px;

      padding: 20px;
    }

    // SKILL SET TRIANGLE

    .skill-set {
      position: absolute;
      width: 100vw;
      bottom: 0;
      left: 0;
      height: 100vw;

      @media #{$mq-min-pc} {
        height: 40vh;
        left: auto;
        right: 0;
        width: 80vh;
      }

      .individual-skill {
        color: white;
        width: 75px;
        padding: 5px;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img {
          width: 100%;
        }
        figcaption {
          text-align: center;
          width: 100%;
        }
      }

      &:before {
        // triangle
        width: 0;
        height: 0;
        content: '';
        position: absolute;
        left: 0;

        bottom: 0;
        z-index: -1;

        border-left: 50vw solid transparent;
        border-right: 50vw solid transparent;
        border-bottom: 100vw solid $primary-color;

        @media #{$mq-min-pc} {
          border-left: 50vh solid transparent;
          border-right: 50vh solid transparent;
          border-bottom: 80vh solid $primary-color;

          left: auto;
          right: 0;
        }
      }

      .skills-wrapper {
        @media #{$mq-min-pc} {
          position: absolute;

          bottom: 0;
          right: 0;
          width: 100vh;
          height: 80vh;

          // background: rgba(234, 243, 245, 0.7);
        }
      }
    }

    .sub-skills,
    .frontend-skills,
    .skill-main {
      position: absolute;
      display: flex;
      justify-content: space-around;
      width: 100vw;
      &.sub-skills {
        padding: 0 10vw;
        bottom: 0;
      }
      &.frontend-skills {
        bottom: 33.33333%;
        padding: 0 25vw;
      }
      &.skill-main {
        bottom: 60.66666%;
        justify-content: center;
      }

      @media #{$mq-min-pc} {
        width: 100vh;
        right: 0;
        &.sub-skills {
          padding: 0 10vh;
          bottom: 5vh;
        }
        &.frontend-skills {
          bottom: 30vh;
          padding: 0 20vh;
        }
        &.skill-main {
          bottom: 50vh;
          justify-content: center;
        }
      }
    }
  }
}
