@import 'assets/scss/abstracts/_variables.scss';

.skills {
  // full height of background calculated according to width
  // height: calc(100vw * 2.051282051);
  height: 100vh;
  width: 100%;
  @media #{$mq-min-pc} {
    height: 100vh;
  }
  p {
    color: white;
    border-radius: 5px;
    strong {
      color: $stand-out-color;
    }
    background: $secondary-color;
    width: 50%;

    @media #{$mq-min-pc} {
      width: 30%;
    }
    margin-left: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 20px;
  }

  // SKILL SET TRIANGLE WHEN TABLET AND ABOVE
  .triangle {
    position: absolute;
    width: 100vw;
    bottom: 0;
    left: 0;
    height: 100vw;
    z-index: 10000;

    @media #{$mq-min-pc} {
      height: 40vh;
      left: auto;
      right: 0;
      width: 80vh;
    }

    @media #{$mq-min-tablet} {
      &:before {
        // triangle
        width: 0;
        height: 0;
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        border-left: 50vw solid transparent;
        border-right: 50vw solid transparent;
        border-bottom: 100vw solid $primary-color;
        @media #{$mq-min-tablet} {
          border-bottom: 100vw solid $primary-color;
        }

        @media #{$mq-min-pc} {
          border-left: 50vh solid transparent;
          border-right: 50vh solid transparent;
          border-bottom: 80vh solid $primary-color;
          left: auto;
          right: 0;
        }
      }
    }

    .skills-wrapper {
      @media #{$mq-min-tablet} {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100vh;
        height: 80vh;
        @media #{$mq-min-pc} {
          width: 100vh;
        }
      }
    }
  }

  .backend,
  .architectures,
  .frontend {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    $space-between: 5vw;

    @media #{$mq-min-tablet} {
      $space-between: 12vw;
      @media #{$mq-min-pc} {
        $space-between: 3.5vw;
        width: 100vh;
      }
    }

    &.backend {
      bottom: 5%;
      figure {
        &:first-child {
          margin-right: calc(#{$space-between} * 2);
        }
        &:last-child {
          margin-left: calc(#{$space-between} * 2);
        }
      }
    }
    &.architectures {
      bottom: 30%;
      figure {
        &:first-child {
          margin-right: $space-between;
        }
        &:last-child {
          margin-left: $space-between;
        }
      }
    }

    &.frontend {
      bottom: 65%;
      justify-content: center;
    }

    @media #{$mq-min-tablet} {
      width: 100vw;
      right: 0;
      box-sizing: border-box;
      &.backend {
        bottom: 10vh;
        @media #{$mq-min-pc} {
          bottom: 5vh;
        }
      }
      &.architectures {
        bottom: 28vh;

        @media #{$mq-min-pc} {
          padding: 0 5vw;
        }
      }
      &.frontend {
        bottom: 50vh;
        justify-content: center;
      }
      @media #{$mq-min-pc} {
        width: 100%;
      }
    }
  }
  section.background {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    &:after,
    &:before {
      background-size: cover;
      background-position: bottom right;

      @media #{$mq-min-tablet} {
        background-position: bottom 35% right;
      }
      @media #{$mq-min-pc} {
        background-position: top 50% left;
      }
    }
  }
}
.secondBackground {
  height: 100vh;
  width: 100vw;
  background-color: black;
  background-size: cover;
  background-position: bottom right;
  background-color: rgba(0, 0, 0, 0.5);
  @media #{$mq-min-tablet} {
    background-position: bottom 35% right;
  }
  @media #{$mq-min-pc} {
    background-position: top 50% left;
  }
}
